@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
$screenColor: #003D02;
body {
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at center, #000 50%, $screenColor 100%);
    border-radius: 20px;
    box-shadow: inset 0px 0px 15px 15px #000;
    background-size: 100% 5px;
    background-repeat: repeat-y;
}

.screen {
    margin-top: 100px;
    .outPut_timer {
        padding-top: 25px;
        font-size: 60px;
        color: rgb(1, 163, 1);
        text-shadow: 0px 0px 10px grey;
        opacity: 0.6;
        margin-left: 25px;
        margin-right: 25px;
    }
    .button__item {
        width: 120px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-right: 10px;
        margin-top: 15px;
        border-radius: 8px;
        -webkit-box-shadow: inset 0px 0px 20px 0px rgba(250, 250, 250, 0.3);
        -moz-box-shadow: inset 0px 0px 20px 0px rgba(250, 250, 250, 0.3);
        box-shadow: inset 0px 0px 20px 0px rgba(250, 250, 250, 0.3);
        border: 0;
        font-family: 'VT323', monospace;
        color: rgba(3, 185, 3, 0.726);
        font-size: 22px;
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid #777777af;
        background: rgb(48, 48, 48);
        outline: none;
        &:hover {
            background-color: #9e9d9da4;
            text-shadow: 0px 0px 10px grey;
        }
    }

}

